body {
     margin: 0;
  padding: 0;
   overflow-x: hidden;
   top: 0;
    left: 0;
    font-family: 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
}

#CENTERPAGE {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    width: 100%;
}

#gallery {
    position: absolute;
    top: 100%;
    width: 100%;
}

.GALLERYITEM {
    text-align: center;
}
.GALLERYITEM img {
    height: 650px;
}

.GALLERYITEM h2 {
    margin-top: 5px;
}
.GALLERYITEM h3 {
    margin-top: -20px;
}

.GALLERYITEM {
    margin-bottom: 75px;
}